.toggle{
    display: flex;
    justify-content: center;
    align-items: center;
}


.box{
    height: 70vh;
    width:  35vw;
    display: flex;
    justify-content: flex-start;
    align-items:center;
    flex-direction: column;
    color: rgb(76, 63, 47);

}


.btn1,.btn2{
    background-color: rgb(229, 229, 229);
    border: none;
    height: 3rem;
    width: 16rem;
    color: black;
}

.btnactive{
    border-bottom: 5px solid rgb(0, 0, 129);
}

.toggle-content2{
    display: none;
}